body{
    background-image: url('../img/backgroun-image4.jpg');
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

/* Nav de la página */
header{
    display: flex;
    text-align: center;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 60px;
    margin-left: 50px;
    margin-top: 4px;
}
.custom-nav .nav-link{
    font-size: 20;
    color: white;
}

.custom-nav .nav-link.disabled,
.custom-nav .nav-link:focus {
    background-color: transparent;
    color: rgb(132, 35, 171);
}
.custom-nav .nav-link:hover {
    background-color: transparent;
    color: rgb(132, 35, 171);
    transition: all 400ms ease;
}
.container{
    max-width: 100%;
    padding: 15px;
    margin: 0 auto;
    font-family: 'Monserrat', sans-serif;
    font-weight: 600; /* Semibold */
}
/* Fin Nav de la página */

/* Mensaje de bienvenida a la página */
.welcome-text{
    font-size: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0;
    margin-top: 30px;
    color: #ffffff;
    text-shadow:
        0 0 5px #ff00ff,
        0 0 10px rgb(132, 35, 171),
        0 0 15px rgb(132, 35, 171),
        0 0 20px rgb(132, 35, 171),
        0 0 25px #d000ff,
        0 0 30px #d000ff;
}
.welcome-text-h3{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    text-shadow:
        0 0 5px #ff00ff,
        0 0 10px rgb(132, 35, 171),
        0 0 15px rgb(132, 35, 171),
        0 0 20px rgb(132, 35, 171),
        0 0 25px #d000ff,
        0 0 30px #d000ff;
}
/* Fin Mensaje de bienvenida a la página */

/* Descripción general de la página */
.transparent-box {
    background: linear-gradient(135deg, rgba(224, 66, 255, 0.5), rgba(171, 16, 232, 0.5));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(32, 32, 32, 0.3);
    width: 80%;
    margin: 20px auto;
    text-align: center;
    color: white;
}
/* Fin Descripción general de la página */

/* Carrousel de productos */
.carousel-text{
    font-size: 2.6rem;
    font-family:'Poppins', sans-serif;;
    color: #ffffff;
    text-shadow:
        0 0 5px #ff00ff,
        0 0 10px rgb(132, 35, 171),
        0 0 15px rgb(132, 35, 171),
        0 0 20px rgb(132, 35, 171),
        0 0 25px #d000ff,
        0 0 30px #d000ff;
    margin-top: 35px;
}
.carousel{
    width: 50%;
    margin: 0 auto;
}
.carousel-item img{
    height: 400px;
    object-fit:cover;
}
/* Fin Carrousel de productos */

/* Cards generales */
.container.text-center{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    margin: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    cursor: default;
    width: 18rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex-grow: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn-light{
    width: 150px;
}

.btn-light:hover {
    background-color: black !important;
    color: rgb(255, 255, 255) !important;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow:
    0 0 10px rgb(230, 38, 244),
    0 0 15px rgba(238, 83, 235, 0.553),
    0 0 20px rgb(252, 71, 255);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
/* Fin Cards generales */

/* Cards página temática */
.custom-card-section .card {
    background: linear-gradient(135deg, rgba(224, 66, 255, 0.5), rgba(197, 53, 233, 0.705));
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    cursor: default;
    width: 18rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: whitesmoke;
}

.custom-card-section .card-title {
    font-family: 'Poppins',sans-serif;
    color: whitesmoke;
    font-weight: bolder;
}

.custom-card-section .btn-light {
    background-color: rgb(245, 245, 245);
}
/* Fin Cards página temática */

/* Cards página servicios */
.custom-card-section2 .card{
    background: linear-gradient(135deg, rgba(179, 15, 211, 0.671), rgba(204, 204, 204, 0.875));
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    cursor: default;
    width: 18rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: rgb(255, 255, 255);
}

.custom-card-section2 .card-title{
    color: rgb(255, 255, 255);
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
}
/* Fin Cards página servicios */


/* Formulario contact */
.contact-title {
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(152, 21, 204);
    margin-bottom: 30px;
    margin-left: 0px;
}

.form-label {
    color: whitesmoke;
    text-shadow: 2px 2px 4px #00000016;
}

.form-check-label{
    color: whitesmoke;
}

.contact-form{
    background-color: rgba(204, 77, 255, 0.374);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra del cuadro */
    width: 100%;
    margin: 0 auto;
}
.btn-dark:hover {
    background-color: whitesmoke !important;
    color: #343a40 !important;
    transition: all 400ms ease;
}
/* Fin Formulario contact */

/* Pie de página */
footer{
    background-color: rgb(28, 28, 28);
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: white;
    flex-wrap: wrap;
}

.footer-icons {
    display: flex;
    list-style: none;
    padding: 0;

}

.footer-icons li{
    display: inline-block;
}

.footer-icons li a img{
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
    margin: 5px
}

.footer-icons li a img:hover{
    transform: scale(1.2);
}
/* Fin Pie de página */

/* Diseño responsive */
@media (max-width:700px){
    header{
        flex-direction: column;
    }
}